<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/base.css' | relative_url }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    {% if page.extra_css %}
    {% for css in page.extra_css %}
    <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
    {% endif %}
</head>

<body>

<div class="layout">

    {% include header.html %}

    <main class="page">
        {{ content }}
    </main>

    {% include footer.html %}

</div>

{% if page.extra_js %}
{% for js in page.extra_js %}
<script src="{{ js | relative_url }}"></script>
{% endfor %}
{% endif %}

</body>
</html>