<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/projects.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/sidebar.css' | relative_url }}">
</head>

<body>

{% include header.html %}

<main class="page-content">

    <div class="project-wrapper">

        <aside class="project-sidebar">
            <h3>Simple Voice Geyser</h3>

            {% assign docs = site.pages
            | where: "project", "simplevoicegeyser"
            | sort: "order" %}

            <ul>
                {% for doc in docs %}
                {% if doc.title %}
                <li>
                    <a href="{{ doc.url }}">{{ doc.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </aside>

        <div class="content-wrapper">
            {{ content }}
        </div>

    </div>

</main>

{% include footer.html %}

</body>
</html>