<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/projects.css">
    <link rel="stylesheet" href="{{ '/assets/css/seating.css' | relative_url }}">
</head>

{% include header.html %}

<body>

{{ content }}

<!-- JS ORDER MATTERS -->
<script src="{{ '/class-tools/chart/js/highlights.js' | relative_url }}"></script>
<script src="{{ '/class-tools/chart/js/chart.js' | relative_url }}"></script>
<script src="{{ '/class-tools/chart/js/groups.js' | relative_url }}"></script>
<script src="{{ '/class-tools/chart/js/seatingchart.js' | relative_url }}"></script>

{% include footer.html %}

</body>
</html>